@tailwind base;

@tailwind components;

@tailwind utilities;

.our-self-heart {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center
}

.our-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-full-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}